.bg {
  /* The image used */
  background-image: url("../../images/landing-background.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-wiki {
  color: var(--red-pokemon);
}

.h1-landing {
  font-size: 100px;
  padding-left: 50px;
  text-shadow: 2px 1px 5px white;
}

.text-landing {
  font-size: xx-large;
  padding-left: 50px;
  text-shadow: 2px 1px 5px white;
}

.container-landing {
  position: absolute;
  top: 57.5%;
  transform: translateY(-50%);
  padding: 10px;
}

.plain-link {
  text-decoration: none;
  color: var(--red-pokemon);
}

@media only screen and (max-width: 600px) {
  .bg {
    background-position: bottom right;
  }

  .container-landing {
    top: 20%;
    color: white;
    text-shadow: 2px 1px 5px rgb(43, 3, 3);
  }

  .h1-landing {
    font-size: 4rem;
    color: black;
    text-shadow: 2px 1px 5px white;
  }

  .text-landing {
    text-shadow: 2px 1px 5px rgb(43, 3, 3);
  }
}
