.topnav {
  background-color: #eeeeee;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  font-family: "Ubuntu", sans-serif;
}

.topnav .link-home:hover {
  border-bottom: 3px solid rgb(87, 17, 17);
}

.link-home {
  font-size: 30px !important;
  color: #000000 !important;
}

.text-wiki {
  color: var(--red-pokemon);
}

.h1-navbar {
  font-size: 25px;
  color: #4a0404;
}

.btn {
  background-color: var(--red-pokemon);
  border: none;
  border-radius: 20px;
  padding: 0 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 30px 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}
