.form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  margin-bottom: 50px;
}

.input {
  width: 40%;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 1px 3px 9px rgba(55, 5, 5, 0.25);
}

.input:focus {
  outline: none;
}

.btn {
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  box-shadow: 1px 3px 9px rgba(55, 5, 5, 0.25);
  opacity: 0.6;
  transition: 0.3s;
}

.btn {
  background-color: var(--red-pokemon);
}

.btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .input {
    width: 80%;
  }
}
